body {
    margin: 0;
    overflow: hidden;
}

.list {
    color: white;
    list-style-type: none;
}

.hide-input {
    display: none;
}

.show-input {
    display: block;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
}

.drop {
    height: 15px;
    width: 1px;
    background-color: white;
    position: absolute;
    animation: fall 1s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}