html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Arial";
}

.header {
  background: #9b9b9b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header .logo {
  color: #fff;
  font-size: 18px;
}

.header .menu {
  display: flex;
  align-items: center;
}

.header .menu .notification {
  position: relative;
  padding: 9px 0;
}

.header .menu .notification:hover .dropdown-content {
  display: block;
}

.header .menu .notification .notification-logo {
  display: block;
  width: 25px;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
}

.header .menu .notification .bell-animation {
  animation: bell 1s linear;
}

@keyframes bell {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(5deg);
  }

  30% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(-15deg);
  }

  70% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(0deg);
  }

  90% {
    transform: rotate(-10deg);
  }

  10% {
    transform: rotate(0deg);
  }
}

.header .notification .dropdown-content {
  display: none;
  position: absolute;
  left: -130px;
  top: 50px;
  background-color: #fff;
  width: 350px;
  z-index: 1;
  border: 1px solid #767676;
}

.header .notification .dropdown-content .dropdown-content-element {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
}

.header .notification .dropdown-content .dropdown-content-element .other-user {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  gap: 5px;
}

.header .notification .dropdown-content .dropdown-content-element .other-user .other-user-logo {
  margin: 0 auto;
  width: 30px;
  background-color: #cccccc;
  border-radius: 50%;
}

.header .notification .dropdown-content .dropdown-content-element .message {
  width: 200px;
  background: #cccccc;
  border: 1px solid #828282;
  border-radius: 5px;
  height: 40px;
  position: relative;
}

.header .notification .dropdown-content .dropdown-content-element .message::after {
  position: absolute;
  content: "";
  top: 10px;
  left: -11px;
  border-top: 6px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 12px solid #cccccc;
}

.header .user {
  display: flex;
  align-items: center;
  position: relative;
}

.header .user .user-logo {
  width: 35px;
  background: #fff;
  border-radius: 50%;
  margin-right: 5px;
}

.header .user .user-fullname {
  color: #fff;
  font-size: 18px;
}

.header .user .dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  background-color: #fff;
  width: 170px;
  z-index: 1;
  border: 1px solid #767676;
  padding: 10px 5px 10px 20px;
}

.header .user .dropdown-content a {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
  color: #4a4a4a;
}

.header .user .dropdown-content a:last-child {
  margin-bottom: 10px;
}

.header .user:hover .dropdown-content {
  display: block;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  position: fixed;
  padding: 40px 0 0 40px;
}

.navigation a {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 18px;
  width: fit-content;
}

.navigation .active {
  font-weight: bold;
}

.main {
  margin-left: 20%;
  padding: 35px 40px 40px 0px;
}

.main .title {
  font-weight: 400;
  margin: 0 0 5px;
}

.main .add-student-btn {
  display: block;
  margin-left: auto;
  border: 1px solid #4a4a4a;
  background: #fff;
  line-height: 0;
  margin-bottom: 15px;
  padding: 3px 6px;
}

.main .add-student-btn:hover {
  cursor: pointer;
}

.main .table {
  border-collapse: collapse;
  width: 100%;
}

.main .table th,
.main .table td {
  border: 2px solid #5f5f5f;
}

.main .table th {
  font-weight: 400;
  font-size: 12px;
  padding: 20px 0;
}

.main .table .column-checkbox,
.main .table .column-gender,
.main .table .column-status {
  width: 110px;
}

.main .table .column-group,
.main .table .column-options {
  width: 150px;
}

.main .table .column-birthday {
  width: 170px;
}

.main .table td {
  font-weight: bold;
  font-size: 16x;
  text-align: center;
  padding: 15px 0;
}

.main .table td .cell-status {
  display: block;
  width: 25px;
  height: 25px;
  background: #000;
  margin: 0 auto;
  border-radius: 50%;
}

.main .table td .active-status {
  background: #689e39;
}

.main .table td .non-status {
  background: #b6b6b6;
}

.main .table .cell-options button {
  background: none;
  line-height: 0;
  padding: 5px 8px;
  border: 1px solid #4a4a4a;
  cursor: pointer;
}

.main .table .cell-options button:first-child {
  margin-right: 4px;
}

.main .table .cell-checkbox {
  position: relative;
  font-size: 22px;
  user-select: none;
}

.main .table .cell-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.main .table .cell-checkbox input:checked~.checkmark {
  content: url('img/checked.svg');
}

.main .table .cell-checkbox .checkmark {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid #5f5f5f;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal .close {
  background: none;
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  line-height: 0;
  padding: 1px 3px;
  border: 1px solid #4a4a4a;
  cursor: pointer;
}

.modal .modal-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 0;
  border: 1px solid #4a4a4a;
  border-radius: 8px;
}

.modal .modal-header {
  padding: 4px 16px;
  background-color: #fff;
  border-radius: 8px;
}

.modal .modal-body {
  border-top: 1px solid #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
  padding: 50px 30px;
  font-weight: bold;
  font-size: 18px;
}

.modal .modal-footer {
  padding: 2px 16px;
  background-color: #fff;
  color: white;
  border-radius: 8px;
  padding: 15px 10px;
}

.modal .modal-footer .actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.modal .modal-footer .actions button {
  color: #5f5f5f;
  padding: 2px 10px;
  cursor: pointer;
  background: none;
  border: 1px solid #4a4a4a;
}

.show-modal {
  display: block;
}

.warning-modal .modal-content {
  width: 500px;
}

.add-modal {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}

.add-modal .modal-content {
  width: 800px;
}

.add-modal .modal-header {
  padding: 16px;
}